* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  overflow: hidden;  
  transition: all 0.3s ease-out;
  cursor: pointer;
}



.item-1 {
  background: url(1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-2 {
  background: url(2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-3 {
  background: url(3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-4 {
  background: url(4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-5 {
  background: url(5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-6 {
  background: url(6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-7 {
  background: url(7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-8 {
  background: url(8.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-9 {
  background: url(9.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-10 {
  background: url(10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



@media screen and (min-width: 576px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "one one two three three"
      "one one four five five"
      "six seven seven five five"
      "six eight nine nine ten";
  }

  .item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: one;
  }
  .item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: two;
  }
  .item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: three;
  }
  .item-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: four;
  }
  .item-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: five;
  }
  .item-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: six;
  }
  .item-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: seven;
  }
  .item-8 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(8.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: eight;
  }
  .item-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: nine;
  }
  .item-10 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(10.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
    grid-area: ten;
  }
}
